[submodule "Quark/vendor/spdlog"]
	path = Quark/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Quark/vendor/GLFW"]
	path = Quark/vendor/GLFW
	url = https://github.com/SlothInABox/glfw
[submodule "Quark/vendor/imgui"]
	path = Quark/vendor/imgui
	url = https://github.com/SlothInABox/imgui
